# Зависимости
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Скомпилированные файлы
dist/
build/
deploy.tar.gz
deploy-to-nas.sh
chat

# Переменные окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.docker


memory.db
# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.temp
temp/
*.bak
*.bak.*

# Тестовые данные
mock-*.json
test-*.json

# База данных (если не нужна в git)
# memory.db

# Медиа файлы чатов (частично игнорируем)
chat/photos/*
!chat/photos/*.md
chat/files/*.torrent
chat/files/*.rar
chat/files/*.zip
chat/files/*.mp3
chat/files/*.m4a
chat/files/*.webm